# BHARAT INTEL QUANTUM - INFRA ENVIRONMENT
NEO4J_PASS=password123
TWITTER_BEARER_TOKEN=Day3_twitter_developer.twitter.com
NEWSAPI_KEY=Day4_newsapi.org
CHAINALYSIS_KEY=Day5_chainalysis.com_free
OPENAI_KEY=Day10_openai.com
PORT=8000
KAFKA_SERVERS=localhost:9092
REDIS_URL=redis://localhost:6379
